:root{
    font-size: 16px;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

#root{
    width: 100vw;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    height: 60px;
    padding: 5px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    width: 100vw;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms ease;
}

nav span{
    margin: 0 20px;
}

#changeTheme{
    padding: 10px 25px;
    cursor: pointer;
}

#menu{
    width: 60px;
    height: 50px;
    display: none;
}

#menu.active ~ nav{
    right: 0;
}

#menu .line{
    width: 100%;
    height: 4px;
    margin: 10px 0;
    background-color: #222;
}

section{
    width: 100%;
    padding: 40px;
}

.container_home{
    height: 60vh;
    max-height: 800px;
    min-height: 300px;
    border-bottom: 5px solid #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2rem;
    line-height: 2;
    text-align: center;
}

h2{
    font-size: 1.7rem;
    font-weight: lighter;
    text-align: center;
}

h3{
    font-size: 1.5rem;
}

/**/

.container_blog{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_blog{
    max-width: none;
}

.content_blog p{
    margin: 10px 0 20px 0;
    font-size: 1rem;
    line-height: 1.5;
}


.image_blog{
    max-width: 600px;
}

.image_blog img{
    width: 100%;
    object-fit: cover;
    object-position: top;
}

/**/

.container_about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_about p{
    max-width: 900px;
    margin: 20px 0;
    font-size: 1.1rem;
    text-align: center;
}

.container_about img{
    width: 70vw;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

/**/

.container_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_contact form{
    width: 80vw;
    max-width: 800px;
    min-width: 200px;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area_contact{
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.label_contact{
    margin: 0 0 5px 0;
}

.input_contact{
    border: 2px solid gray;
    padding: 10px 20px;
    font-size: 1.3rem;
}

.container_contact form button{
    padding: 10px 20px;
    font-size: 1.3rem;
}

footer{
    width: 100%;
    border-top: 5px solid #222;
    padding: 20px 40px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons_footer{
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.icon_footer{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 50px;
    background-color: gray;
}

footer strong{
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.5;
}

footer p{
    font-size: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 900px){
    #menu{
        display: block;
        cursor: pointer;
    }

    nav{
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        top: 60px;
        right: -100%;
    }
    
    h1{
        font-size: 1.6rem;
        line-height: 1.15;
    }

    h2{
        font-size: 1.4rem;
    }

    p{
        font-size: 1rem;
    }

    .content_blog p{
        text-align: center;
    }

    .container_blog h3{
        margin: 0 0 20px 0;
        text-align: center;
    }
    
    .container_blog{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }


}