:root{
    font-size: 16px;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    transition: 300ms ease;
}

#root{
    width: 100vw;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    height: 60px;
    padding: 5px 40px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    width: 100vw;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms ease;
}

nav span{
    margin: 0 20px;
}

#changeTheme{
    padding: 10px 25px;
    cursor: pointer;
}

#menu{
    width: 60px;
    height: 50px;
    display: none;
}

#menu.active ~ nav{
    right: 0;
}

#menu .line{
    width: 100%;
    height: 4px;
    margin: 10px 0;
}

section{
    width: 100%;
    padding: 40px;
}

.container_home{
    height: 60vh;
    max-height: 800px;
    min-height: 300px;
    margin: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://wallpaperaccess.com/full/1413646.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    font-size: 2.5rem;
    line-height: 2;
    text-align: center;
    color: #fff;
}

h2{
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
    color: #fff;
}

h3{
    font-size: 1.5rem;
}

.container_blog{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_blog{
    max-width: none;
}

.content_blog p{
    margin: 10px 0 20px 0;
    font-size: 1rem;
    line-height: 1.5;
}


.image_blog{
    max-width: 600px;
}

.image_blog img{
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.container_about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_about p{
    max-width: 900px;
    margin: 20px 0;
    font-size: 1.1rem;
    text-align: center;
}

.container_about img{
    width: 70vw;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.container_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_contact form{
    width: 80vw;
    max-width: 800px;
    min-width: 200px;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area_contact{
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.label_contact{
    margin: 0 0 5px 0;
}

.input_contact{
    padding: 10px 20px;
    font-size: 1.3rem;
}

.container_contact form button{
    padding: 10px 20px;
    font-size: 1.3rem;
}

footer{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer strong{
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.5;
}

footer p{
    font-size: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 900px){
    #menu{
        display: block;
        cursor: pointer;
    }

    nav{
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        top: 60px;
        right: -200%;
    }

    body.light-theme
    nav{
        background-color: #c1c1c1;
    }

    body.dark-theme
    nav{
        background-color: #1e1e1e;
    }
    
    h1{
        font-size: 1.6rem;
        line-height: 1.15;
    }

    h2{
        font-size: 1.4rem;
    }

    p{
        font-size: 1rem;
    }

    .content_blog p{
        text-align: center;
    }

    .container_blog h3{
        margin: 0 0 20px 0;
        text-align: center;
    }
    
    .container_blog{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }


}

body.light-theme header,
body.dark-theme #menu .line{
    background-color: #fff;
}

body.light-theme #menu .line{
    background-color: #222;
}

body.dark-theme header,
body.dark-theme footer{
    background-color: #1c1c1c;
}

body.light-theme header{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body.dark-theme h3,
body.dark-theme span,
body.dark-theme strong,
body.dark-theme p,
body.dark-theme label,
body.dark-theme button{
    color: #fff;
}

body.light-theme button{
    background-color: #ffee00;
}

body.dark-theme button{
    background-color: #08d066;
}

body.light-theme .container_home{
    border-bottom: 5px solid #ffd000;
}

body.light-theme footer{
    border-top: 5px solid #ffd000;
}

body.dark-theme .container_home{
    border-bottom: 5px solid #08d066;
}

body.dark-theme footer{
    border-top: 5px solid #08d066;
}

body.dark-theme .container_home,
body.dark-theme .container_about{
    background-color: #161616;
}

body.dark-theme .container_blog,
body.dark-theme .container_contact{
    background-color: #212121;
}

body.light-theme .container_home,
body.light-theme .container_about{
    background-color: #fff;
}

body.light-theme header,
body.light-theme .container_blog,
body.light-theme .container_contact{
    background-color: #e7e7e7;
}

body.light-theme .input_contact{
    border: 2px solid #222;
}

body.dark-theme .input_contact{
    border: 2px solid #fff;
}